<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
	<meta name="author" content="Yowant FE Team" />
	<meta name="Description" content="页面说明" />
	<meta name="Keywords" content="页面关键字" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no" />
	<!--[禁用页面缓存 start]-->
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<!--[禁用页面缓存 end]-->
	<title>密码找回</title>
	<script src="./static/libs/flexible.js"></script>
	<link rel="stylesheet" href="./static/css/ydui.min.css" />
	<link rel="stylesheet" href="./static/css/common.min.css"/>
	<style>
		body,html{
			height: auto;
		}
	</style>
</head>

<body>
	<div id="v-app" v-cloak>
		<!-- 引入头部导航 -->
		<header class="header_wrap">
			<div class="header_back" onclick="window.history.back(-1);">
				<div class="header_back_icon ver-mid">
					<img src="./static/img/back@2x.png" alt="">
				</div>
				<div class="header_back_text ver-mid"></div>
			</div>
			<div class="header_title">密码找回</div>
		</header>
		<section class="password_recovery_box login_common_mx">
			<div class="login_error">
				<div  v-if="isError">
					<i></i>
					<span>{{isErrorText}}</span>
				</div>
			</div>
			<div class="mail_item_1" v-if="emailItem1">
				<input type="text" class="input_cla" ref="email" v-model="email" placeholder="请输入您的邮箱地址">
				<a href="javascript:;" @click="recovery_btn()" class="recovery_btn">发送验证码</a>
			</div>
			<div class="mail_item_2" v-if="emailItem2">
				<div class="mail_code_pass">
					<input type="text" ref="email" v-model="email" class="input_cla">
					<a href="javascript:;" @click="emailVerifyCode">{{emailIdentCodeText}}</a>
				</div>
				<input type="text" class="input_cla" ref="emailCode" v-model="emailCode" placeholder="请输入验证码">
				<a href="javascript:;" @click="resetPassword()" class="recovery_btn">下一步</a>
			</div>
			<div class="mail_item_3" v-if="emailItem3">
				<input type="password" class="input_cla" ref="password1" v-model="password1" placeholder="请输入新密码">
				<input type="password" class="input_cla" ref="password2" v-model="password2" placeholder="确认新密码">
				<a href="javascript:;" @click="finishResetPassword()" class="recovery_btn">确认修改</a>
			</div>
		</section>
	</div>

    <!--script start-->
	<script src="./static/libs/jquery-2.2.4.min.js"></script>
	<script src="./static/libs/vue.min.js"></script>
	<script src="./static/libs/fastclick.js"></script>
    <script>
		window.$vm = new Vue({
			el: '#v-app',
			data: function(){
				return {
					emailCodeUrl: "/action/user/mail_code", // 获取验证码url
					emailCodeValidateUrl: "/action/user/mail_code", // 确认验证码是否正确 url
					emailPassBtnUrl: "/action/user/resetPwdByPhoneStepTwoSimple", // 提交密码 url
					emailItem1: true,
					emailItem2: false,
					emailItem3: false,
					getEmailCodeDisable: true,
					emailIdentCodeText: '获取验证码',
					emailCodeWaitTime: 180,
					isError: false,
					isErrorText: '',
					email: '',
					emailCode: '',
					password1: '',
					password2: ''
				}
			},
			methods:{
				// 邮箱验证码倒计时
				emailCodeCountDown(){
					var self = this;
					if (self.emailCodeWaitTime === 0) {
						self.getEmailCodeDisable = true;
						self.emailIdentCodeText = "获取验证码";
						self.emailCodeWaitTime = 180;
						return;
					} else {
						self.getEmailCodeDisable = false;
						self.emailIdentCodeText = "重新发送(" + self.emailCodeWaitTime + "s)";
						self.emailCodeWaitTime--;
						setTimeout(function() {
							self.emailCodeCountDown();
						}, 1000);
					}
				},
				// 获取邮箱验证码
				emailVerifyCode() {
					var self = this;
					// 检验邮箱格式和验证码倒计时
					var validateEmail = this.validators('email').check(self.email);
					if (!validateEmail || !self.getEmailCodeDisable) {
						return false;
					}
					$.ajax({
						type: "POST",
						url: self.emailCodeUrl,
						data: {
							mail: self.email
						},
						dataType: "json",
						success: function(data) {
							if (data.status === 1) {
								self.emailCodeCountDown();
								self.isError = false;
								self.isErrorText = '';
							} else {
								self.isError = true;
								self.isErrorText = '邮箱验证码发送失败';
							}
						},
						error: function() {
							console.log("获取邮箱验证码数据失败，请稍候再试");
						}
					});
				},
				validators(type){
					var v = {
						email: {
							message: '请输入正确的邮箱地址',
							check: function (val) {
								var emailReg = /[\w-.]+@[\w-]+(.[\w_-]+)+/;
								return emailReg.test(val);
							}
						}
					};
					return v[type];
				},
				// 输入邮箱点击下一步
				recovery_btn(){
					if(!this.validators('email').check(this.email)){
						this.$refs.email.focus();
						this.isError = true;
						this.isErrorText = this.validators('email').message;
					}else{
						this.emailVerifyCode();
						this.emailItem1 = false;
						this.emailItem2 = true;
						this.isError = false;
					}
				},
				// 获取验证码之后的下一步
				resetPassword() {
					var self = this;
					if(self.emailCode === ''){
						self.isError = true;
						self.isErrorText = '邮箱验证码不能为空';
						return ;
					}
					if(!self.validators('email').check(self.email)){
						self.$refs.email.focus();
						self.isError = true;
						self.isErrorText = self.validators('email').message;
						return ;
					}
					self.emailItem1 = false;
					self.emailItem2 = true;
					self.isError = false;
					$.ajax({
						type: "POST",
						url: self.emailCodeValidateUrl,
						data: {
							email: self.email,
							code: self.smsCode
						},
						dataType: "JSON",
						success: function(result) {
							if (result.status === 1) {
								// 下一步之前验证 验证码 是否正确
								self.emailItem2 = true;
								self.emailItem3 = true;
							} else {
								//异常信息处理
								self.isError = true;
								self.isErrorText = result.message;
							}
						},
						error: function() {
							console.log("提交验证码数据失败，请稍候再试");
						}
					});
				},
				// 确认
				finishResetPassword() {
					var self = this;
					if(self.password1 === ''){
						self.$refs.password1.focus();
						self.isError = true;
						self.isErrorText = '新密码不能为空';
						return ;
					}
					if($.trim(self.password1).length <6 || $.trim(self.password1).length >18){
						self.isError = true;
						self.isErrorText = '新密码长度为6-18位之间';
						return ;
					}
					if(self.password2 === ''){
						self.$refs.password2.focus();
						self.isError = true;
						self.isErrorText = '确认密码不能为空';
						return ;
					}
					if($.trim(self.password2).length <6 || $.trim(self.password2).length >18 ){
						self.isError = true;
						self.isErrorText = '确认密码长度为6-18位之间';
						return ;
					}
					if(self.password2 !== self.password1){
						self.$refs.password2.focus();
						self.isError = true;
						self.isErrorText = '输入密码不一致';
						return ;
					}
					self.isError = false;
					// var pwd = CryptoJS.SHA1(self.password).toString();
					$.ajax({
						type: "POST",
						url: self.emailPassBtnUrl,
						data: {
							email: self.email,
							pwd: self.password1
						},
						dataType: "json",
						success: function(data) {
							if (data.status === 1) {
								//需要提示重置密码成功，3s后跳转
								YDUI.dialog.alert('密码修改成功');
								setTimeout(function() {
									location.href = "/";
								}, 3000);
							} else {
								//异常信息处理
								self.isError = true;
								self.isErrorText = data.message;
							}
						},
						error: function() {
							console.log("提交新密码数据失败，请稍候再试");
						}
					});
				}
			}
		})
    </script>
    <!--script end-->
</body>

</html>