<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
	<meta name="author" content="Yowant FE Team" />
	<meta name="Description" content="页面说明" />
	<meta name="Keywords" content="页面关键字" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta name="format-detection" content="telephone=no" />
	<!--[禁用页面缓存 start]-->
	<meta http-equiv="Expires" content="-1">
	<meta http-equiv="Cache-Control" content="no-cache">
	<meta http-equiv="Pragma" content="no-cache">
	<!--[禁用页面缓存 end]-->
	<title>注册</title>
	<script src="./static/libs/flexible.js"></script>
	<link rel="stylesheet" href="./static/css/common.min.css"/>
	<link rel="stylesheet" href="./static/css/ydui.min.css" />
	<style>
		body,html{
			height: auto;
		}
	</style>
</head>

<body>
	<div id="v-app" v-cloak>
		<!-- 引入头部导航 -->
		<header class="header_wrap">
			<div class="header_back" onclick="window.history.back(-1);">
				<div class="header_back_icon ver-mid">
					<img src="./static/img/back@2x.png" alt="">
				</div>
				<div class="header_back_text ver-mid"></div>
			</div>
			<div class="header_title">注册</div>
		</header>
		<section class="register_box login_common_mx">
			<div class="login_error">
				<div  v-if="isError">
					<i></i>
					<span>{{isErrorText}}</span>
				</div>
			</div>
			<div class="mail_item_1" v-if="emailItem1">
				<input type="text" class="input_cla" ref="email" v-model="email" placeholder="请输入您的邮箱地址">
				<input type="password" class="input_cla" ref="password1" v-model="password1" placeholder="登录密码">
				<input type="password" class="input_cla" ref="password2" v-model="password2" placeholder="确认密码">
				<a href="javascript:;" @click="registerBtn()" class="recovery_btn">下一步</a>
			</div>
			<div class="mail_item_2" v-if="emailItem2">
				<div tabindex="0" class="bd-upload bd-upload--text">
					<!-- <div v-html="avatar"></div> -->
					<img :src="avatar" alt="">
					<input type="file" name="file" @change="uploadPic($event)" accept="image/gif,image/jpeg,image/jpg,image/png,image/svg">
				</div>
				<input type="text" class="input_cla" ref="nickname" v-model="nickname" placeholder="昵称">
				<div class="check_sex">
					<span>性别:</span>
					<label for="" @click="sexFn(1)" :class="[sex === 1 ? 'cube-radio_selected' : '']">
						<span class="cube-radio-ui cubeic-round-border"><i></i></span>
						<span class="cube-radio-label">男</span>
					</label>
					<label for="" @click="sexFn(2)" :class="[sex === 2 ? 'cube-radio_selected' : '']">
						<span class="cube-radio-ui cubeic-round-border"><i></i></span>
						<span class="cube-radio-label">女</span>
					</label>
				</div>
				<a href="javascript:;" @click="registerComBtn()" class="recovery_btn">完成注册</a>
			</div>
		</section>
	</div>
    
	
    <!--script start-->
	<script src="./static/libs/jquery-2.2.4.min.js"></script>
	<script src="./static/libs/vue.min.js"></script>
	<script src="./static/libs/ydui.js"></script>
	<script src="./static/libs/fastclick.js"></script>
    <script>
		window.$vm = new Vue({
			el: '#v-app',
			data: function(){
				return {
					registerUrl: "/action/user/mail_code", // 注册
					emailItem1: true,
					emailItem2: false,
					isError: false,
					isErrorText: '',
					email: '',
					password1: '',
					password2: '',
					nickname: '',
					sex: '',
					avatar: ''
				}
			},
			mounted(){
				this.emailItem1 = false;
				this.emailItem2 = true;
			},
			methods:{
				uploadPic(e){
					console.log(e)
					var self = this;
					var file = e.target.files && e.target.files[0];
					
					if (!(/^image\/.*$/i.test(file.type))) {
						YDUI.dialog.alert('请上传正确格式图片');
						return; //不是图片 就跳出这一次循环  
					}
					if (file.size > 500000) {
						YDUI.dialog.alert('请上传小于500kb图片');
						return; //  大小 
					}
					//实例化FileReader API  
					var freader = new FileReader();  
					freader.readAsDataURL(file);  
					freader.onload = function(e) {
						var img = new Image();
						img.src = e.target.result;
						self.avatar = e.target.result;
					}
				},
				sexFn(s){
					this.sex = s;
				},
				// 注册点击下一步
				registerBtn(){
					if(!this.validators('email').check(this.email)){
						this.$refs.email.focus();
						this.isError = true;
						this.isErrorText = this.validators('email').message;
						return ;
					}
					if(this.password1 === ''){
						this.$refs.password1.focus();
						this.isError = true;
						this.isErrorText = '登录密码不能为空';
						return ;
					}
					if($.trim(this.password1).length <6 || $.trim(this.password1).length >18){
						this.isError = true;
						this.isErrorText = '新密码长度为6-18位之间';
						return ;
					}
					if(this.password2 === ''){
						this.$refs.password2.focus();
						this.isError = true;
						this.isErrorText = '确认密码不能为空';
						return ;
					}
					if($.trim(this.password2).length <6 || $.trim(this.password2).length >18 ){
						this.isError = true;
						this.isErrorText = '确认密码长度为6-18位之间';
						return ;
					}
					if(this.password2 !== this.password1){
						this.$refs.password2.focus();
						this.isError = true;
						this.isErrorText = '密码不一致';
						return ;
					}
					this.isError = false;
					this.emailItem1 = false;
					this.emailItem2 = true;
					$('.login_error').hide();
				},
				// 完成注册
				registerComBtn(){
					var self = this;
					if(!self.nickname){
						YDUI.dialog.alert('请输入昵称');
						return;
					}else if(!self.validators('nickname').check(self.nickname)){
						YDUI.dialog.alert(self.validators('nickname').message);
						return;
					}else if($.trim(self.nickname).length < 2){
						YDUI.dialog.alert('昵称不能少于2个字符');
						return;
					}else if($.trim(self.nickname).length > 10){
						YDUI.dialog.alert('昵称最长10个字符');
						return;
					}
					if(!self.sex){
						YDUI.dialog.alert('请选择性别')
						return ;
					}
					$.ajax({
						type: "POST",
						url: self.registerUrl,
						data: {
							email: self.email,
							pwd: self.password1,
							sex: self.sex,
							nickname: self.nickname,
							avatar: self.avatar
						},
						dataType: "json",
						success: function(data) {
							if (data.status === 1) {
								//需要提示重置密码成功，3s后跳转
								YDUI.dialog.alert('注册成功');
								setTimeout(function() {
									location.href = "/";
								}, 3000);
							} else {
								//异常信息处理
								self.isError = true;
								self.isErrorText = data.message;
							}
						},
						error: function() {
							console.log("注册数据失败，请稍候再试");
						}
					});
				},
				validators(type){
					var v = {
						email: {
							message: '请输入正确的邮箱地址',
							check: function (val) {
								var emailReg = /[\w-.]+@[\w-]+(.[\w_-]+)+/;
								return emailReg.test(val);
							}
						},
						nickname: {
							message: '昵称只能由中文、字母、数字、下划线或者短横线组成',
							check: function (val) {
								var nicknameReg = /^[A-Za-z0-9\u4e00-\u9fa5_-]+$/;
								return nicknameReg.test(val);
							}
						}
					};
					return v[type];
				},
			}
		})
    </script>
    <!--script end-->
</body>

</html>